@model IEnumerable<MainWeb.Models.Kategori>

@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaKategori)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaKategori)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdKategori  }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdKategori }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdKategori })
        </td>
    </tr>
}

</table>
