@model IEnumerable<MainWeb.Models.Penjualan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FakturPenjualan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPelanggan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalJual)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FakturPenjualan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPelanggan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalJual)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
