@model MainWeb.Models.Pembelian


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div ng-app="app" ng-controller="PembelianController" ng-init="Init()">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Pembelian</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TanggalBeli, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control" type="date" id="TanggalBeli" name="TanggalBeli" ng-model="data.TanggalBeli" />
                    @Html.ValidationMessageFor(model => model.TanggalBeli, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" name="IdSupplier" id="IdSupplier" ng-options="item as item.Text for item in Suppliers track by item.Value" ng-model="data.Supplier"></select>
                    @Html.ValidationMessageFor(model => model.IdSupplier, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FakturPembelian, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control" type="text" id="FakturPembelian" name="FakturPembelian" ng-model="data.FakturPembelian" />
                    @Html.ValidationMessageFor(model => model.FakturPembelian, "", new { @class = "text-danger" })
                </div>
            </div>



            <table class="table">
                <tr>
                    <th>
                        Kode Barang
                    </th>
                    <th>
                        Nama Barang
                    </th>
                    <th>
                        Harga Beli
                    </th>
                    <th>
                        Harga Jual
                    </th>

                    <th>
                        Jumlah
                    </th>
                    <th>
                        Total
                    </th>

                    <th>
                        <a href="#exampleModalCenter" data-target="#exampleModalCenter" data-toggle="modal">Add</a>|
                    </th>
                </tr>


                <tr ng-repeat="item in data.Items">
                    <td>
                        {{item.KodeBarang}}
                    </td>

                    <td>
                        {{item.NamaBarang}}
                    </td>

                    <td>
                        {{item.HargaBeli}}
                    </td>
                    <td>
                        {{item.HargaJual}}
                    </td>
                    <td>
                        <input style="max-width:100px" type="number" class="form-control" ng-model="item.Jumlah" />
                    </td>
                    <td>
                        {{item.Jumlah * item.HargaBeli|number}}
                    </td>
                    <td>
                        <a href="" ng-click="Delete(item)">Delete</a>
                    </td>
                </tr>

            </table>



        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button ng-click="Save(data)" class="btn btn-default">Save</button>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")

    </div>





    <!-- Modal -->
    <div class="modal fade" data-backdrop="false" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Kode Barang
                            </th>
                            <th>
                                Nama Barang
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>
                                Harga Beli
                            </th>
                            <th>
                                Harga Jual
                            </th>
                            <th>
                                Stok
                            </th>
                        </tr>


                        <tr ng-repeat="item in Barangs" ng-dblclick="SelectedItem(item)">
                            <td>
                                {{item.KodeBarang}}
                            </td>

                            <td>
                                {{item.NamaBarang}}
                            </td>
                            <td>
                                {{item.Kategori.NamaKategori}}
                            </td>
                            <td>
                                {{item.HargaBeli}}
                            </td>
                            <td>
                                {{item.HargaJual}}
                            </td>
                            <td>
                                {{item.Stok}}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/Scripts/angular.js"></script>

<script>
    angular.module("app", [])
        .controller("PembelianController", function ($scope, $http, $q) {
            $scope.data = {};
            $scope.data.Items = [];
            
            $scope.Init = function () {

                $scope.Suppliers= @Html.Raw(Json.Encode( ViewBag.DataSupplier));

                var post = $http({
                    method: "Get",
                    url: "/api/barang",
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" }
                }).then(function (res) {
                    $scope.Barangs = res.data;
                }, function (err) {

                });
            }


            $scope.SelectedItem = function (item) {
                $("#exampleModalCenter").modal('hide');
                item.Jumlah = 0;
                $scope.data.Items.push(item);
            }

             $scope.Delete= function (item) {
                 var index = $scope.data.Items.indexOf(item);
                 $scope.data.Items.splice(index, 1);
            }

            $scope.Save = function (data) {
                data.IdSupplier = data.Supplier.Value;
                 var post = $http({
                    method: "Post",
                    url: "/api/pembelianapi",
                     dataType: 'json',
                     data: data,
                    headers: { "Content-Type": "application/json" }
                 }).then(function (res) {
                     window.location="/Pembelian";
                }, function (err) {

                });
            };

        });
</script>