@model MainWeb.Models.Pembelian

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pembelian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TanggalBeli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalBeli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSupplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FakturPembelian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FakturPembelian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
