@model IEnumerable<MainWeb.Models.Barang>

@{
    ViewBag.Title = "Daftar Barang";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KodeBarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namabarang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idKategori)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KodeBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namabarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idKategori)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
